.footer {
    color: white;
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    position: absolute;
    width: 97.5%;
    bottom: 0;
  }
  
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .footer-links a {
    color: white;
    text-decoration: underline;
    font-size: 19px;
    font-weight: bold;
    transition: color 0.3s ease;
  }
  
  .footer-links a:hover {
    color:  #2ecc71;
  }

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    overflow: hidden;
}
  