
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);
    overflow: hidden;
} 

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: #f4f4f4; */
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
    font-size: 24px;
    font-weight: bold;
    color: azure;
}

.login-button {
    position: absolute;
    right: 20px;
    text-decoration: none;
    background:linear-gradient(to bottom, #3498db, #2ecc71);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    text-align: center;
}

.login-button:hover {
    background: #0056b3;
}

