<div class="login-wrapper">
  <div class="login-image">
    <h1>Auction<br />Bazaar</h1>
  </div>
  <div class="login-form">
    <h2>Welcome Back!</h2>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form #loginForm="ngForm">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Email Address"
          [(ngModel)]="email"
          #emailInput="ngModel"
          required
        />
        <div *ngIf="(emailInput.touched && emailInput.invalid) || (submitted &&  emailInput.invalid)" class="validation-message">
          Email is required and must be valid.
        </div>
      </div>

      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          [(ngModel)]="password"
          #passwordInput="ngModel"
          required
        />
        <i
          class="fas fa-eye toggle-password"
          [class.fa-eye-slash]="passwordFieldType === 'text'"
          (click)="togglePasswordVisibility()"
        ></i>
        <div *ngIf="(passwordInput.touched && passwordInput.invalid) || (submitted && passwordInput.invalid) " class="validation-message">
          Password is required.
        </div>
      </div>

      <button type="button" class="login-btn" (click)="onClick(loginForm)">
        Login
      </button>

      <div class="additional-links">
        <a routerLink="/forgot-password">Forgot Password?</a>
        <a routerLink="/create-account">Create Account</a>
      </div>
    </form>
  </div>
</div>
