
<form (ngSubmit)="onSubmit()">
    <div class="Product-image">
        <h1>Add Product Details</h1>
    </div>
    <div class="productDetail-wrapper">

        <div class="product-image">

            <p>File Selected: {{ product.selectedFile ? product.selectedFile.name : 'No file selected' }}</p>
            <div *ngIf="isImage(product.selectedFile); else noFile">
                <img [src]="filePreview" alt="File preview" />
            </div>
            <ng-template #noFile>
                <div class="empty-box">
                    <p>No file selected</p>
                </div>
            </ng-template>
            <div class="input-group">
                <input type="file" id="file" (change)="onFileSelected($event)" placeholder="Choose File" required />
            </div>
        </div>

        <div class="product_form">
            <div class="input-group">
                <input type="text" id="productName" [(ngModel)]="product.productName" name="productName"
                    placeholder="Product Name*" required />
            </div>

            <div class="input-group">
                <textarea id="Description" [(ngModel)]="product.description" name="Description" 
                    placeholder="Product Description*" required></textarea>
            </div>
            

            <div class="input-group">
                <input type="number" id="minPrice" [(ngModel)]="product.minPrice" name="minPrice" placeholder="Min Price*" [value]="''" 
                    required />
            </div>

            <div class="input-group">
                <select id="category" [(ngModel)]="product.category" name="category" required>
                    <option value="" disabled selected hidden>Category*</option>
                    <option *ngFor="let cat of categories" [value]="cat">{{ cat }}</option>
                </select>
            </div>

            <div class="row-2">
                <div class="input-group">
                    <input type="time" id="time" [(ngModel)]="product.time" name="time" placeholder="Time" required />
                </div>

                <div class="input-group">
                    <input type="date" id="date" [(ngModel)]="product.date" name="date" placeholder="Date" required />
                </div>
            </div>



            <div class="button-group">
                <button type="submit"
                    [disabled]="!product.selectedFile || !product.productName || !product.minPrice || !product.category || !product.time || !product.date">
                    Add Product
                </button>
                <button type="button" (click)="clearForm()">Clear Form</button>
            </div>

        </div>

    </div>
</form>